%html xml:lang="en"
  %head
    %title 
      Greet.io: |
      -block title
    %link href="/static/css/yui3reset.css" rel="stylesheet"
    %link href="/static/css/core.css" rel="stylesheet"
    %meta charset="utf-8"
    %meta name="description" content="towrite!!!!"
    %meta name="author" content="ghost"
    %meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1"

  %body
    -block content