-extends "layout.haml"
-block title << Sign-up

-from "_formhelpers.haml" import render_field
-block content:
  %form method="post" action="{{ url_for("sign_up") }}"
    %dl
      {{ render_field(form.name) }}
      {{ render_field(form.email) }}
    %p
      %input type="submit" value="Register"